fastapi==0.111.0
fastapi-cli==0.0.3
Jinja2==3.1.2
jsonpatch==1.33
jsonpointer==2.4
langchain==0.2.0
langchain-community==0.2.0
langchain-core==0.2.0
langchain-text-splitters==0.2.0
langcodes==3.4.0
langsmith==0.1.59
language_data==1.2.0
pydantic==2.7.1
pydantic_core==2.18.2
requests==2.31.0
uvicorn==0.29.0
virtualenv==20.26.1

